{% extends 'base.html.twig' %}

{% block body %}
    <h1>Création d'un rendez-vous pour le {{ evenement.debut | date('d/m/Y H:i') }}</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Prendre RDV" />
    {{ form_end(form) }}

{% endblock %}
